<?xml version="1.0"?>
<config>
    <modules>
        <Sofia_Testimonials>
            <version>0.1.0</version>
        </Sofia_Testimonials>
    </modules>
    <global>
        <models>
            <sofia_testimonials>
                <class>Sofia_Testimonials_Model</class>
                <resourceModel>sofia_testimonials_resource</resourceModel>
            </sofia_testimonials>
            <sofia_testimonials_resource>
                <class>Sofia_Testimonials_Model_Resource</class>
                <entities>
                    <testimonials>
                        <table>sofia_testimonials</table>
                    </testimonials>
                </entities>
            </sofia_testimonials_resource>
        </models>
        <blocks>
            <sofia_testimonials>
                <class>Sofia_Testimonials_Block</class>
            </sofia_testimonials>
        </blocks>
        <helpers>
            <sofia_testimonials>
                <class>Sofia_Testimonials_Helper</class>
            </sofia_testimonials>
        </helpers>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <allproducts>
                        <type>singleton</type>
                        <class>Sofia_Testimonials_Model_Observer</class>
                        <method>regeneratemenu</method>
                    </allproducts>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
        <resources>
            <sofia_testimonials_setup>
                <setup>
                    <module>Sofia_Testimonials</module>
                </setup>
            </sofia_testimonials_setup>
        </resources>
        <blocks>
            <testimonials>
                <class>Sofia_Testimonials_Block</class>
            </testimonials>
        </blocks>
    </global>

    <frontend>
        <routers>
            <testimonials>
                <use>standard</use>
                <args>
                    <module>Sofia_Testimonials</module>
                    <frontName>testimonials</frontName>
                </args>
            </testimonials>
        </routers>
        <layout>
            <updates>
                <testimonials>
                    <file>sofia_testimonials.xml</file>
                </testimonials>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sofia_testimonials before="Mage_Adminhtml">Sofia_Testimonials_Adminhtml</sofia_testimonials>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>